PORT=5003
ENVIRONMENT=development

COOKIE_SIGN=your-secret-with-minimum-length-of-32-characters
AUTH_ENABLED=false
SSO_CLIENT_ID=your-sso-client-id
SSO_CLIENT_SECRET=your-sso-client-secret
SSO_ISSUER_HOST=https://your-sso-provider.com
SSO_CALLBACK_URL=http://localhost:5003/auth/callback/oidc

AGENT_HOST=http://localhost:5002
